.layout {
    background-color: #fafbfd;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
    "sidebar header header header header header header header"
    "sidebar main main main main main main main"
    "sidebar main main main main main main main"
    "sidebar main main main main main main main"
    "sidebar main main main main main main main"
    "sidebar main main main main main main main"
    "sidebar main main main main main main main"
    "sidebar main main main main main main main";
    position: relative;
    height: 100vh;
    width: 100vw;
}

.header_layout {
    grid-area: header;
    height: 100%;
    width: 100%;
}

.sidebar {
    grid-area: sidebar;
    height: 100%;
    width: 100%;
}

.main {
    align-items: center;
    background-color: #fafbfd;
    display: flex;
    grid-area: main;
    height: 100%;
    justify-content: center;
    width: 100%;
}