.table {
    display: flex;
    width: 90%;
    height: 90%;
    flex-direction: column;
}

.table_action {
    background-color: #00a6f0;
    height: 15%;
    width: 100%;
}

.footer_table {
    background-color: #00a6f0;
    height: 8%;
    width: 100%;
}
