.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 4px;
    right: 10px;
}

.content_image_header {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 25%;
}

.content_image_header img {
    width: 80%;
    height: 100%;
}

.content_title {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 60%;
}

.header_title {
    color: #008080;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    width: 80%;
}



